<!doctype html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
        <div class="container main-container">

            <div class="row info-home">
                <div class="col-md-5 offset-md-1">
                    <div class="name-bio">
                        <h4>
                            <%=data.firstName%>
                                <%=data.lastName%>
                        </h4>
                        <p>
                            <%=data.bio%>
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="img-div img-home-profile"></div>
                </div>

            </div>


            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-10 offset-md-1">
                    <% for(let i=0; i < data.blogs.length; i++){ %>
                        <!-- Blog Post -->
                        <div class="card mb-4">
                            <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
                            <div class="card-body">
                                <h2 class="card-title">
                                    <%= data.blogs[i].title %>
                                </h2>
                                <p class="card-text">
                                    <%- data.blogs[i].intro %>
                                </p>
                                <a href="/blogs/<%= data.blogs[i].id%>" class="link-index-read-more">Read More...</a>
                            </div>
                            <div class="card-footer text-muted">
                                Posted on
                                <%= data.blogs[i].time %>
                            </div>

                            <div class="delete">
                                <a class="btn btn-danger button-delete" href="/delete/<%= data.blogs[i].id%>">DELETE</a>
                                <a class="btn btn-success button-delete" href="/edit/<%= data.blogs[i].id%>">EDIT</a>
                            </div>
                        </div>
                        <%  } %>
                </div>


            </div>

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
            </div>
            <!-- /.container -->
        </footer>




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>